/* flexi.css */
.flex{display:flex;}
.row{flex-direction: row;}
.row-reverse{flex-direction: row-reverse;}
.column{flex-direction: column;}
.column-reverse{flex-direction: column-reverse;}
.wrap{flex-wrap: wrap;}
.wrap-reverse{flex-wrap: wrap-reverse;}
.nowrap{flex-wrap: nowrap;}
.space-around{ justify-content: space-around; }
.space-between{ justify-content: space-between; }
.start{ justify-content: flex-start; }
.end{ justify-content: flex-end; }
.center{ justify-content: center; }
.xstart{ align-items: flex-start; }
.xend{ align-items: flex-end; }
.xcenter{ align-items: center; }
.xbaseline{ align-items: baseline; }
.xstrech { align-items: stretch; }
.grow1{ flex-grow: 1; }
.grow2{ flex-grow: 2; }
.grow3{ flex-grow: 3; }
.grow4{ flex-grow: 4; }
.text-center { text-align: center; }
/* global */

/* color theme */
:root {
  --purp: #62467b;
  --deep: #03052d;
  --amethyst: #a663cc;
  --neon: hsl(320, 51%, 59%);
  --blood: hsl(332 67% 51%); /* Lithium blood ofc. */
  --pale: #b8d0ebff;
  --celeste: #b9faf8ff;
  --cybercop: rgb(0,100,200);
  --lavender: hsl(253, 39%, 93%);
  --davender: #D3CBDA;
}

c1 { color: var(--purp); }
c2 { color: var(--cybercop); }
c3 { color: var(--neon); }
c4 { color: var(--blood); }
c5 { color: var(--amethyst); }
article, result {
  display: block;
  min-width: 700px;
  max-width: 700px;
  margin-bottom: 1.5em;
  padding: 0em;
  background-color: var(--davender);
  border: 2px outset /*var(--deep)*/;
  box-shadow: 8px 9px 0 -5px #8932fd47;
}
article .content, result .content {
  padding: 1em;
  padding-top: 0.3em;
}
article .content img, result .content img {
  border: 3px inset var(--lavender);
}

.drive-float {
  /*background-color: var(--deep);
  color: var(--purp);
   */
  background-color: var(--deep);
  border-radius: 2px;
  width: 320px;
}

.drive-float h4 { color: var(--pale); }
.drive-float { color: var(--neon); }
article .drive-float, result .drive-float {
  width: 100%;
  border: none ;
  border-radius: 0;
  /*border-bottom: 1px solid var(--deep);*/
}
result .ellipsis img {
  max-height: 200px;
  max-width: 80%;
}

.results-users .drive-float, .about .drive-float {
  margin-right: 1em;
  margin-bottom: 1em;
  /*border: 3px outset;
  box-shadow: 1px 2px 7px #8932fd47;*/
  border: 3px groove;
}

a {
	color: var(--blood);
	text-decoration: none;
}

em {
  background-color: var(--celeste);
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
  /* background-color: #eae9ef;
	color: #333;
  */
  background-color: var(--lavender);
  color: var(--deep);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.serif {
  font-family: sans-serif;
}
.emo, m {
  font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
}


#primary-search, #primary-search:focus, #primary-search:active {
  font-size: 24px;
  border: 4px double #62467b;
  border-radius: 0px;
  padding: 0.4em;
  margin-bottom: 0.5em;
}

.disclaimer {
  background-color: var(--davender);
  border-radius: 4px;
  font-family: monospace;
  display: inline-block;
  max-width: 600px;
  padding: 2em;
  margin: 1em;
}
footer {
  text-align: center;
}
header {
  background-color: #03052d;
  color: #a680a9;
  padding: 4px 20px;
  text-align: right;
}
h2, h3 {
  font-weight: normal;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.loader {
  animation: 3s cubic-bezier(.68,-0.25,.27,1.25) 0s infinite both spin;
  font-size: 64px;
  display: inline-block;
  vertical-align: middle;
  line-height: 64px;
  margin-bottom: 0.2em;
}
progress {
  height: 1.4em;
  border-radius: 0;
}
progress[value]::-webkit-progress-bar {
  background-color: #aaa;
  border: 2px inset var(--davender);
}
progress[value]::-webkit-progress-value {
 /* background-image: linear-gradient(left, #fff, var(--cybercop));*/
  --size: 21px;
  --fg: var(--amethyst);
  --bg: #aaa;
  background: repeating-linear-gradient(90deg,
    var(--fg),
    var(--fg) var(--size),
    var(--bg) var(--size),
    var(--bg) 25px
    );
}
button {
  padding: 0.3em;
  border-radius: 0;
  border: 3px outset var(--lavender);
  background-color: var(--davender);

}
code {
  border: 1px solid #bbb;
  border-radius: 2px;
  background-color: #eee;
  padding: 2px 4px;
}
ul { list-style-type: square; }
.ellipsis pre > code {
  border: unset;
  border-radius: unset;
  background-color: unset;
  color: unset;
  padding: unset;
}
.ellipsis > pre { /* wanted to do pre:has(> code) but that dosen't work yet */
  overflow: scroll;
  padding: 1em;
  border: 3px groove var(--lavender);
  background-color: var(--purp);
  color: var(--pale);
  resize: vertical;
}

strong { color: var(--purp); }
.hostme {
  margin: 1em;
  font-size: smaller;
  border: 2px dashed var(--davender);
  padding: 0 0.4em;
  line-height: 19px;
  vertical-align: middle;
  font-family: monospace;
}
.hostme heart {
  font-size: 20px;
  vertical-align: middle;
}
.hostme propaganda {
  display: none;
  width: 0;
  overflow: hidden;
}
.hostme:hover propaganda {
  display: inline;
}

