/* flexi.css */
.flex{display:flex;}
.row{flex-direction: row;}
.row-reverse{flex-direction: row-reverse;}
.column{flex-direction: column;}
.column-reverse{flex-direction: column-reverse;}
.wrap{flex-wrap: wrap;}
.wrap-reverse{flex-wrap: wrap-reverse;}
.nowrap{flex-wrap: nowrap;}
.space-around{ justify-content: space-around; }
.space-between{ justify-content: space-between; }
.start{ justify-content: flex-start; }
.end{ justify-content: flex-end; }
.center{ justify-content: center; }
.xstart{ align-items: flex-start; }
.xend{ align-items: flex-end; }
.xcenter{ align-items: center; }
.xbaseline{ align-items: baseline; }
.xstrech { align-items: stretch; }
.grow1{ flex-grow: 1; }
.grow2{ flex-grow: 2; }
.grow3{ flex-grow: 3; }
.grow4{ flex-grow: 4; }
/* global */

/* color theme */
:root {
  --purp: #62467b;
  --deep: #03052d;
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
  background-color: #eae9ef;
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	/*text-decoration: underline;*/
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
em {
  background-color: aqua;
}
